API_ID=
API_HASH=
BOT_TOKEN=
GROUP_IDS=
FORUM_DOMAINS=lolz.guru,lolz.live,lolz.team,zelenka.guru
LZT_API_TOKEN=
LZT_API_DOMAIN=prod-api.lolz.live
FORUM_BASE=https://lolz.team
REMOVE_HIDDEN_CONTENT_TAG=false